body {
    background-image: url("paisley.png");
}


#crystalpic1{
	height :210px;
	width: 230;
	padding:10px;
}

#crystalpic2{
	height :210px;
	width: 230;
	padding:10px;
}

#crystalpic3{
	height :210px;
	width: 230;
	padding:10px;
}

#crystalpic4{
	height :210px;
	width: 230;
	padding:10px;
}

h2{
	color: white;
}

.jumbotron{
	background-color: #b3e6cc;
}
#ph{
	background-color: #b3e6cc;

}
#pb{
	background-color:#b3e6cc;
}

.pictures{
	background-color: #b3e6cc;
}

