body {
    background-color: lightblue;
}

#crystalpic1{
	height :210px;
	width: 230;
	padding:10px;
}

#crystalpic2{
	height :210px;
	width: 230;
	padding:10px;
}

#crystalpic3{
	height :210px;
	width: 230;
	padding:10px;
}

#crystalpic4{
	height :210px;
	width: 230;
	padding:10px;
}
